div{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.container{
    width: 90vw;
    height: 80vh;
    display: flex;
    border-style: solid;
    border-color: black;
    margin: auto;
    
}

.countries{
    width: 25%;
    height: 75vh;
    border-style: solid;
    border-color: black;
    overflow: scroll;
}

.chart{
    width: 80%;
    height: 75vh;
    border-style: solid;
    border-color: black;
}

.clickk{
    background-color: aqua;
    border: 1px solid black;
}